/***** Initialisation du CSS - Règles de base *****/

    /*Colors*\

        Bleu : #2980b9;
        Bleu-hover : #3498db;
        Noir / titres : #262626;
        Noir / texte : #404040;
    
    \*Fin Colors*/
   
    /*CSS Reset - Meilleure approche du style, enlève les style de base en CSS*/
        
        html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
    
    /*Fin Reset*/  

/*box-sizing : Calul automatique des padding et margin - retranche à la largeur et hauteur*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

/*Fin box-sizing*/

html,
body{
    width: 100%;
    height: 100%;
}    

body{
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #262626;
    background: #fff;
}  

.section{
    width: 100%;
    height: auto;
    min-height: 100%;
}

.inner-section{
    width: 100%;
    height: auto;
    padding: 50px 150px;
}

.clear{
    clear: both;
    opacity: 0;
    margin: 0;
    padding: 0;
}

/***** Fin initialisation *****/

/***** header *****/

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 75px;
    background: #fff;
    padding: 10px 50px;
    box-shadow: 0px 0px 8px #171717;
}

.logo{
    width: auto;
    height: 100%;
}

.logo a{
    display: block;
    width: auto;
    height: 100%;
}

.logo img{
    width: auto;
    height: 100%;
}

.nav{
    position: absolute;
    top: 0px;
    right: 50px;
    width: auto;
    height: 75px;
}

.nav ul{
    width: auto;
    height: 75px;
    text-align: right;
}

.nav li{
    display: inline-block;
    width: auto;
    height: 75px;
}

.nav a{
    display: block;
    width: auto;
    height: 75px;
    text-decoration: none;
    color: #262626;
    padding: 25px 15px;
    border-bottom: 0px solid transparent;
    background: transparent;
    -webkit-transition: border-bottom 0.2s, background 0.2s;
    -o-transition: border-bottom 0.2s, background 0.2s;
    transition: border-bottom 0.2s, background 0.2s;
}

.nav a:hover{
    border-bottom: 5px solid #3498db;    
    background: rgba(0,0,0,0.04);    
}

/*****Fin header*****/

/*****footer*****/

    .footer{
        color: #fff;
        text-align: left;
        background: #121212;
        padding: 35px;
    }

/*****Fin footer*****/

/*****Accueil*****/

.section-home{
    height: 100%;
    -webkit-background-image: url('../images/background/background-write-dark.jpg');
    -moz-background-image: url('../images/background/background-write-dark.jpg');
    -ms-background-image: url('../images/background/background-write-dark.jpg');
    -o-background-image: url('../images/background/background-write-dark.jpg');
    background-image: url('../images/background/background-write-dark.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.inner-section-home{
    height: 100%;
    padding: 170px 200px 0 200px;
}

.inner-section-home h1{
    font-size: 3.2em;
    font-weight: 900;
    color: #fff;
    margin: 50px 0 70px 0;
}

.inner-section-home h2{
    width: 70%;
    font-size: 1.6em;
    line-height: 1.4em;
    color: #fff;
    margin: 50px 0 50px 0;
}

.button{
    display: inline-block;
    width: auto;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    border: 1px solid #fff;
    text-decoration: none;
    background: transparent;
    padding: 13px 30px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    -ms-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.button:hover{
    background: #fff;
    color: #262626;
}

/***** Fin accueil *****/

/***** Etudiant *****/


.section-title{
    height: auto;
    min-height: auto;
    color: #fff;
    padding: 120px 10% 20px 10%;
    -webkit-background-image: url('../images/background/background-write-dark.jpg');
    -moz-background-image: url('../images/background/background-write-dark.jpg');
    -ms-background-image: url('../images/background/background-write-dark.jpg');
    -o-background-image: url('../images/background/background-write-dark.jpg');
    background-image: url('../images/background/background-write-dark.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section-title h1{
    font-size: 3em;
    font-weight: 900;
    margin: 25px 0 60px 0;
}

.section-title h2{
    width: 60%;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 25px;
}

.section-title-button{
    padding: 10px 40px;
}

.section-chapter{

}

.inner-section-chapter{
    background: #f1f2f2;
    text-align: center;
    padding: 50px 100px;
}

.chapter{
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: letf;
    width: 330px;
    height: 395px;
    text-align: center;
    text-decoration: none;
    padding: 50px 20px;
    background: #fff;
    margin: 1.5%;
    border: 1px solid rgba(219,219,219,0.7);
    -webkit-transition: background 0.2s, color 0.2s, border 0.2s;
    -moz-transition: background 0.2s, color 0.2s, border 0.2s;
    -ms-transition: background 0.2s, color 0.2s, border 0.2s;
    -o-transition: background 0.2s, color 0.2s, border 0.2s;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.chapter:hover{
    background: #F7F9FB;
    border: 1px solid #2980b9;
}

.chapter:hover .chapter-selection{

}

.chapter img{
    width: 60px;
    height: 60px;
}

.chapter-title{
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 100;
    color: #2980b9;
    margin: 20px 0;
    text-transform: uppercase;
}

.chapter-description{
    width: 90%;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 300;
    color: #404040;
    margin-left: 5%;
}

.chapter-selection{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 15%;
    width: 70%;
    color: #2980b9;
    border: 1px solid #2980b9;
    padding: 10px 25px;
    background: transparent;
    -webkit-transition: background 0.2s, color 0.2s, border 0.2s;
    -moz-transition: background 0.2s, color 0.2s, border 0.2s;
    -ms-transition: background 0.2s, color 0.2s, border 0.2s;
    -o-transition: background 0.2s, color 0.2s, border 0.2s;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.chapter-selection:hover{
    color: #fff;
    background: #3498db;
    border: 1px solid #3498db;
}


/***** Fin etudiant *****/

/***** choix chapitre *****/

.section-chapter-choice{
    min-height: auto;
}

.chapter-choice-container{
    width: 100%;
}


.chapter-table{
    width: 100%;
    border: 1px solid #262626;
}

.centred-td{
    text-align: center;
}

.chapter-table thead{
    text-align: left;
    border: 1px solid #262626;
    padding: 20px;
    background: #f1f2f2;
}

.chapter-table thead tr{
    border: 1px solid #262626;
    padding: 20px;
}

.chapter-table thead th{
    font-weight: 900;
    font-size: 1.3em;
    border: 1px solid #262626;
    padding: 20px;
}

.chapter-table tbody{
    padding: 10px 20px;
    border: 1px solid #262626;
}

.chapter-table tbody tr{
    padding: 10px 20px;
    border: 1px solid #262626;
}

.chapter-table tbody td{
    color: #404040;
    padding: 10px 20px;
    border: 1px solid #262626;
}

.chapter-table tbody td a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid #2980b9;
    padding: 5px 20px;
    border-radius: 100px;
    background: #2980b9;
    -webkit-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.chapter-table tbody td a:hover{
    color: #2980b9;
    background: transparent;
}

.chapter-table tbody td a:active{
    background: rgba(41,128,185,0.1);
}

.reversed-button{
    color: #404040;
    font-size: 1.1em;
    padding: 10px 20px;
    border: 1px solid #404040;
    margin-top: 50px;
}

.reversed-button span{
    display: inline-block;
    padding-right: 0;
    -webkit-transition: padding-right 0.2s;
    -o-transition: padding-right 0.2s;
    transition: padding-right 0.2s;
}

.reversed-button:hover{
    color: #fff;
    background: #404040;
}

.reversed-button:hover span{
    padding-right: 10px;
}




/***** Fin choix chapitre *****/

/***** login *****/

.login-section{   
    position: relative; 
    height: 100%;
    background: #ededed;
    overflow: hidden;
}

.login-container{
    display: inline-block;
    position: absolute;
    bottom: -110%;
    left: 35%;
    width: 400px;
    height: 370px;
    text-align: left;
    background: #fff;
    padding: 50px;
    border: 1px solid #dbdbdb;
    /*-webkit-transition: bottom 0.5s ease-out;
    -o-transition: bottom 0.5s ease-out;
    transition: bottom 0.5s ease-out;*/
}

.login-container label,
.login-container input{
    display: block;
}

.login-container label{
    margin-bottom: 8px;
}

.login-container input{
    width: 100%;
    font-size: 1em;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.065) inset;
}

.login-container a{
    display: inline-block;
    width: 100%;
    height: auto;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    background: #3498db;
    border-radius: 100px;
    margin-top: 20px;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.login-container a:hover{
    background: #43A5E6;
}


/***** Fin login *****/